.partList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 25px 0;
}

.partItem {
  border: 2px solid #eaeaea;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #eaeaea;
  position: relative;
  line-height: 40px;
  margin: 2px;
}

.partItemSelected {
  @extend .partItem;

  &:before {
    border: 2px solid #bfbcbc;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }
}
