.root {
  align-self: end;
}

.partTypes {
  display: flex;
  flex-wrap: wrap;
}

.actions {
  @extend .partTypes;

  margin-bottom: 15px;
}

.partType {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #eaeaea;
  margin: 2px;
  position: relative;

  & img {
    border-radius: 50%;
    height: 40px;
  }
}

.action {
  @extend .partType;

  & img {
    border-radius: 50%;
    padding: 5px;
    height: 30px;
  }
}

.partTypeSelected {
  @extend .partType;

  &:before {
    border: 2px solid #bfbcbc;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
  }
}
