.partList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.partItem {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.partItemSelected {
  @extend .partItem;

  border: 2px solid red;
}
