.Layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}
