.partTypes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.partType {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.partTypeIcon {
}

.partTypeSelected {
  @extend .partType;

  border: 2px solid red;
}
