.partTypes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.partType {
  cursor: pointer;
}

.partTypeSelected {
  @extend .partType;

  border: 2px solid red;
}
