.PartColorSelector {
  margin-top: 40px;
}

.PartColorSelectorPart {
  display: flex;
  align-items: center;
}

.PartColorSelectorColors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.partName {
  padding: 15px;
  border-radius: 25px;
  background: #eaeaea;
  margin-right: 15px;
}

.color {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-radius: 50%;
}

.colorSelected {
  @extend .colorMultiple;
}

.colorMultiple {
  @extend .color;

  cursor: pointer;
  display: grid;
  grid-auto-flow: column;

  & > div:first-child {
    border-radius: 50% 0 0 50%;
  }

  & > div:last-child {
    border-radius: 0 50% 50% 0;
  }
}

.colorMultipleSelected {
  @extend .colorSelected;
}
